﻿@using TestApp.Models.Entity
@model TestApp.Models.TrackViewModel.TrackIndexViewModel

@{
    ViewBag.Title = "Track Items";
    Layout = "_Layout";
}

<h2>Track Items</h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Table</th>
                <th>Column</th>
                <th>Action</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Originial Id</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var m in Model.AuditLogs)
            {

                <tr>
                    <td>@m.Id</td>
                    <td>@(((TableName)m.Table).ToString())</td>
                    <td>@m.ColumnName</td>
                    <td>@(((EventType)m.EventType).ToString())</td>
                    <td>@m.UpdatedByUser.UserName</td>
                    <td>@(m.CreatedAt.ToString("G"))</td>
                    <td>@(m.OriginalId)</td>
                    <td>@(m.Value)</td>
                </tr>
            }

            </tbody>
        </table>        
    </div>
</div>
