﻿@using TestApp.Models.Entity
@using TestApp.Models.ItemViewModels
@model ItemModelViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Item</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label">Select Product Type</label>
                <select class="form-control" asp-for="ProductType">
                    @{foreach (var suit in (ProductType[]) Enum.GetValues(typeof(ProductType)))
                      {
                            <option value="@((int)suit)">@(suit.ToString())</option>
                      }
                    }
                </select>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label">Select Brand</label>
                <select class="form-control" asp-for="BrandId">
                    @{foreach (var brand in Model.Brands)
                      {
                          <option value="@brand.Id">@(brand.Name)</option>
                      }
                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
