﻿@using TestApp.Models.Entity
@using TestApp.Models.ItemViewModels
@model ItemIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                Price
            </th>
            <th>
                Brand
            </th>
            <th>
                ProductType
            </th>
            <th>
               Created At
            </th>
            <th>
                Udpdated At
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Brand
            </td>
            <td>
                @(((ProductType)item.ProductType).ToString())
            </td>
            <td>
                @item.CreatedAt
            </td>
            <td>
                @item.UpdatedAt
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
