﻿@model TestApp.Models.ItemViewModels.ItemTestModelViewModel
@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>

@using (Html.BeginForm(FormMethod.Post, true, new { @action = Url.Action("TestPost") }))
{
    @Html.ValidationSummary(true,"")
    <div class="form-group">
        @Html.LabelFor(p => p.IsChecked, "Check this")
        @Html.CheckBoxFor(p => p.IsChecked)
        @Html.ValidationMessageFor(p => p.IsChecked)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Data, "Enter Data")
        @Html.TextBoxFor(p => p.Data, new { @class = "form-control" })
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>
    <button type="submit">Submit</button>

}